@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181717;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App button {
  margin: 20px;
}
