@import-normalize;
@import 'recipe-list.css';
@import 'buttons.css';
@import 'ingredient-list.css';
@import 'recipe.css';

*, *:before, *:after {
    font-family: sans-serif;
}

html {
    font-size: 25px;
}

body {
    padding: 0;
    margin: 0;
}

.mr-1 {
    margin-right: 5px;
}