:root {
  --primary: #39A9DB;
  --warning: #F9DC5C;
  --danger: #E84855;
  --success: #ABE188;
  --white: #fdfdfd;
  --dark: #181717;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Button Colors and Styles */

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--dark);
  border: none;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}

.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}

.btn--primary--outline {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn--warning--outline {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--warning);
}

.btn--danger--outline {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}

.btn--success--outline {
  background-color: transparent;
  border: 2px solid var(--success);
  color: var(--success);
}

/* Button Size */

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 15px 30px;
  font-size: 20px;
}
